{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/addpagestyle.css' %}">

    <title>Document</title>
</head>
<body style="background-color: rgb(255, 255, 255)">
    <section>
        <div class="squareFrame" 
        style= "position: absolute;
                width: 50%;
                height: 50%;
                margin: 12% 26%;
                background: #FFFFFF;
                border: 2px solid #000000;
                box-sizing: border-box;
                display: flex;
                align-content: space-around;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;">

                <form style="margin: 15px" action="/adddb/{{slug}}" method="get">
                {% csrf_token %}

                    <div class="form-group">
                        <label for="ItemDescriptionInput" style="font-family: 'Philosopher', sans-serif;">Item Description</label>
                        <input type="text" name="description" class="form-control" id="ItemDescriptionInput" placeholder="Enter Item Description"
                        style="font-family: 'Philosopher', sans-serif;">
                    </div>
                    <div class="form-group">
                        <label for="CategoryInput" style="font-family: 'Philosopher', sans-serif;">Category</label>
                        <input type="text"  name="category" class="form-control" id="CategoryInput" placeholder="Enter Category"
                        style="font-family: 'Philosopher', sans-serif;">
                    </div>
                    <div class="form-group">
                        <label for="AmountInput" style="font-family: 'Philosopher', sans-serif;">Amount</label>
                        <input type="number"  name="amount" class="form-control" id="AmountInput" placeholder="Enter Amount"
                        style="font-family: 'Philosopher', sans-serif;">
                    </div>
                    <input type="submit" class="btn btn-primary" style="font-family: 'Philosopher', sans-serif; margin-top: 5px" value="Add"/>
                </form>
        </div>
    </section>
    <script>

        function toAddPage(){
            var dateList= {{datelist|safe}}

            var date=String(dateList[0])+"-"+String(dateList[1])+"-"+String(dateList[2]+"-"+String(dateList[3]))

            return "/adddb"+date

        }
    </script>
</body>

</html>