{% load static %}
<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/loginstyle.css">

    <title>Welcome</title>
  </head>

  <body>
    <section>
      <div class = "container">

        <div class = "logo">
          <img class = "img" src="{% static 'images/logo.png' %}" alt = "logo">
        </div>

        <div class="login_form">
            <h1 class="text" style="color: #153734; font-size:45px;">SIGN IN</h1>
            <h4 class="text" style="color: #808080">Please Sign in to your Account</h4>

            <form action="/login" method="post">
              
              {% csrf_token %}
              <input type="email" name="email" id="InputEmail" required placeholder = "Your Email">
              {% comment %} <span class="hint" style="display: inline;">Enter your Email ID<span class="hint-pointer"></span></span> {% endcomment %}
              <br>
              <input type="password" name="password" id="InputPassword1" required placeholder = "Your Password">
              <br>
              <input type="submit" name="btn_signin" value="Sign In">
            </form>

            <p class="text ">If you are new here then click <a href="/signup">Sign up</a></p>
        </div>
      </div>
    </section>
  </body>
</html>