{% load static %}
<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/signupstyle.css' %}">

    <title>Welcome</title>
  </head>
  <body>
    <section>
      <div class="container">
        
        <div class="logo">
          <img class="img" src="{% static 'images/logo.png' %}" alt="logo">
        </div>    

        <div class="signup_form">

          <h1 class="text" style="color: #153734; font-size:45px;">SIGN UP</h1>

            <form action="/signupc" method="post">
              {% csrf_token %}
              <input type="text" name="username" id="InputUsername" required placeholder = "&nbsp;Your Full Name">
              <input type="phone" name="phone" id="InputPhone" required placeholder = "&nbsp;Your Phone Number">
              <input type="email" name="email" id="InputEmail1" required placeholder = "&nbsp;Your Email ID">
              <input type="password" name="password" id="InputPassword" required placeholder = "&nbsp;Your Password">
              <input type="password" name="confpassword" id="ConfPassword" required placeholder = "&nbsp;Confirm your Password">
              <input type="submit" class="btn_signup" value="SIGN UP">
             
            </form>
             <p class="text"><a href="/">Already Have an Account??...Sign in</a></p>
        </div>
      </div>
    </section>
  </body>
</html>