@import url('https://fonts.googleapis.com/css?family=Philosopher');
html{
  margin: 0;
  padding: 0;
  background-color: #CEF3F1;
  font-family: 'Philosopher', sans-serif;
  letter-spacing: 1px;
}

.container{
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  bottom: 10%;
  
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
}

.login_form{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
}

.login_form input{
  display: block;
  border: 2px solid rgba(160, 144, 144, 0.733);
  border-radius: 25px;
  width: 60%;
  padding: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

.login_form input[type = "submit"]{
  width: 100px;
  color: #CEF3F1;
  background-color: #307473;
  border: 2px solid #000;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Philosopher', sans-serif;
  font-weight: bold;
}

.logo{
  float: left;
  position: relative;
  width: 45%;
  height: 100%;
}
.img{
  width: 100%;
  height: 100%;
  border-right: 2px solid #000000;
}

.text{
  text-align: center;
}